.*.swp
*.pyc
*.tmp
pyqtgraph/*
build/*
dist/*
dist.win32/*
*.1.gz
*.8.gz
*.1
*.8
man/*.1.gz
man/*.8.gz
man/*.1
man/*.8
*.mo
*~
*.rej
*.orig
#*#
MANIFEST
tags
*.egg-info
deps/*
arc1pyqt/GeneratedUiElements/*.py
!arc1pyqt/GeneratedUiElements/__init__.py
arc1_docs/*
arc1docs/*
arc1pyqt/Documentation/*
